.feature-title {
    color: rgba(51, 122, 183, 1);
    background-color: rgba(223, 223, 223, 1);
    padding: 10px;
    width: 200px;
    height: 50px;
    text-align: center;
    border-radius: 25px;
}

.feature-list {
    background-color: rgba(223, 223, 223, 1);
    padding: 10px;
    border-radius: 25px;
}

.feature-heading {
    padding: 10px;
    border-radius: 15px;
}
